<div class="main-content">
  <div class="contents-row">
    <% if user_signed_in? && !(current_user.admin?) %>
      <div class="create-contact-btn">
        <a class="new" href="/contacts/new">連絡帳作成</a>
      </div>
      <% @contacts.each do |contact| %>
        <div class="contact_dates" >
          <%if current_user.id == contact.user_id %>
            <div class="contact_date">
              ・<%= link_to contact.contact_date.strftime("%Y年%m月%d日(%a)"), contact_path(contact.id) %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% elsif user_signed_in? && current_user.admin? %>
      <div class="create-contact-btn">
        <%= link_to '０歳児', '/users/team/2' %>
        <%= link_to '１歳児', '/users/team/3' %>
        <%= link_to '２歳児', '/users/team/4' %>
        <%= link_to '３歳児', '/users/team/5' %>
        <%= link_to '４歳児', '/users/team/6' %>
        <%= link_to '５歳児', '/users/team/7' %>
      </div>
    <% else %>
      <div class="concept_message">
        <%= image_tag "background_illust.png", class:"background_image" %>
        <p>
          子育てを頑張るあなたに<br>
          　子どもを預かるあなたに<br>
          　　すくすく成長するあなたに
        </P>
      </div>
    <% end %>
  </div>
</div>