<div class="contacts-contents">
  <div class="contacts-main">
    <h2 class="contacts-title"><%= @contact.contact_date.strftime("%Y年%m月%d日(%a)") %></h2>
    <div class="contents_detail">
      <%# 体温 %>
      <div class="contacts-temperature">
        <div class="weight-text">
          体温
        </div>
        <p><%= @contact.temperature %> ℃</p>
      </div>
      <%# /体温 %>

      <%# 家庭の様子 %>
      <div class="contacts-detail">
        <div class="weight-text">
          <span>家庭での様子について</span>
        </div>
        <div class="form">
          <div class="weight-bold-text">
            ・睡眠
          </div>
          <p>就寝時間 <%= @contact.bedtime %></p>
          <p>起床時間 <%= @contact.wakeuptime %></p>
          <div class="weight-bold-text">
            ・排便
          </div>
          <p>時間帯 <%= @contact.defecationtimezone.name %></p>
          <p>質 <%= @contact.defecationquality.name %></p>
          <div class="weight-bold-text">
            ・入浴
          </div>
          <p><%= @contact.bathing.name %></p>
          <div class="weight-bold-text">
            ・機嫌
          </div>
          <p><%= @contact.mood.name %></p>
          <div class="weight-bold-text">
            ・夕食
          </div>
          <p>時間 <%= @contact.dinnertime %></p>
          <p>食べた物 <%= @contact.dinner_content %></p>
          <div class="weight-bold-text">
            ・朝食
          </div>
          <p>時間 <%= @contact.breakfasttime %></p>
          <p>食べた物 <%= @contact.breakfast_content %></p>
        </div>
      </div>
      <%# お迎えの時間 %>
      <div class="contacts-picuptime">
        <div class="weight-text">
          お迎えの時間
        </div>
        <p><%= @contact.picuptime %></p>
      </div>
      <%# /お迎えの時間 %>
      <%# 連絡事項 %>
      <div class="contacts-contact">
        <div class="weight-text">
          連絡事項、子どもの様子など
        </div>
        <p><%= @contact.contact_text %></p>
      </div>
      <%# /連絡事項 %>
    </div>
    <% if user_signed_in? && current_user.id = @contact.user_id %>
      <div class="more">
        <div class="more_lists">
          <div class="more_list">
            <%= link_to '編集', edit_contact_path, method: :get %>
          </div>
          <div class="more_list">
            <%= link_to '削除', contact_path, method: :delete %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <% if admin_signed_in? %>
    <div class="contacts-main">
      <%= form_with model: [@contact, @comment], local: true do |f| %>

        <%= render 'shared/error_messages', model: f.object %>

        <%# 園の様子 %>
        <div class="contacts-detail">
          <div class="weight-text">
            <span>園での様子について</span>
          </div>
          <div class="form">
            <div class="weight-bold-text">
              ・睡眠
            </div>
            就寝時間
            <%= f.text_field :sleepingstarttime, class:"contacts-number", id:"sleepingstarttime", placeholder:"例) 12:00" %><br>
            起床時間
            <%= f.text_field :sleepingendtime, class:"contacts-number", id:"sleepingendtime", placeholder:"例) 14:00" %>
            <div class="weight-bold-text">
              ・排便
            </div>
            時間帯
            <%= f.text_field :defecationtime, class:"contacts-number", id:"defecationtime", placeholder:"例) 15" %> 時頃<br>
            質
            <%= f.collection_select(:defecationquality_id, Defecationquality.all, :id, :name, {}, {class:"select-box", id:"contact-defecationquality"}) %>
            <div class="weight-bold-text">
              ・機嫌
            </div>
            <%= f.collection_select(:mood_id, Mood.all, :id, :name, {}, {class:"select-box", id:"contact-mood"}) %>
            <div class="weight-bold-text">
              ・午前食
            </div>
            <%= f.collection_select(:lunchamount_id, Lunchamount.all, :id, :name, {}, {class:"select-box", id:"lunchamount"}) %>
            <div class="weight-bold-text">
              ・午後食
            </div>
            時間
            <%= f.collection_select(:snackamount_id, Snackamount.all, :id, :name, {}, {class:"select-box", id:"snackamount"}) %>
          </div>
        </div>
        <%# /園の様子 %>
        <%# 連絡事項 %>
        <div class="contacts-contact">
          <div class="weight-text">
            連絡事項、子どもの様子など
          </div>
          <%= f.text_area :comment_text, class:"contacts-contact-text", id:"comment" %>
        </div>
        <%# /連絡事項 %>
        <%# 下部ボタン %>
        <div class="sell-btn-contents">
          <%= f.submit "コメント確定" ,class:"sell-btn" %><br>
        </div>
        <div class="sell-btn-contents">
          <%=link_to 'もどる', root_path, class:"back-btn" %>
        </div>
        <%# /下部ボタン %>
      <% end %>
    </div>
  <% end %>
</div>