<!DOCTYPE html>
<html>
  <head>
    <title>ContactBook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="header__bar row">
        <h1 class="title"><a href="/">ContactBook</a></h1>
        <div class="conscept_message">
          子育てを頑張るあなたに<br>
          　子どもを預かるあなたに<br>
          　　すくすく成長するあなたに
        </div>
        <div class="user_nav grid-6">
          <div class='lists-right'>
            <% if user_signed_in? %>
              <li><%= link_to current_user.child_first_name, edit_user_registration_path, class: "user-childname" %></li>
              <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
            <% elsif admin_signed_in? %>
              <li><%= link_to '管理者', edit_admin_registration_path, class: "user-childname" %></li>
              <li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: "logout" %></li>
            <% else %>
              <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
              <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
              <li><%= link_to '管理者ログイン', new_admin_session_path, class: "login" %></li>
            <% end %>
          </div>
        </div>
      </div>
    </header>
    <%= yield %>
    <footer>
      <p>
        Copyright ContactBook 2023.
      </p>
    </footer>
  </body>
</html>
